*,
*:after,
*:before {
  box-sizing:border-box;
}

:root {
  --color-text: #ffffff;
  --color-bg: #0b0a0a;
  --font-size-default: 18px;
  --font-family-main: botanika-mono-web, monospace;
  --font-family-decor: scotch-display, sans-serif;
}

html, body{
  width: 100%;
  min-height: 100vh;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-family-main);
  font-size: var(--font-size-default);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}


main {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "frame page";
}

.frame {
  position: sticky;
  top: 0;
  z-index: 100;
  border: 1px solid red;

  display: grid;
  grid-row-gap: 5vh;
  grid-template: "title"
                  "link"
                  "sponsor";
  grid-area: frame;
  align-content: space-between;
  height: 100vh;
  padding: 2rem;
  //border: white;
  text-transform: uppercase;


  &__title, &__link {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    justify-self: start;
  }

  &__title {
    grid-area: title;
  }

  &__link {
    grid-area: link;
  }
}

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/




.oh {
  position: relative;
  display: block;
  overflow: hidden;

  &__inner {
    display: block;
    will-change: transform;
  }
}

.title {
  margin: 0;
  font-family: var(--font-family-decor);
  font-size: clamp(2rem, 10vw, 8rem);
  font-weight: 300;
  line-height: 1.2;

  span:last-child {
    padding: 0 1rem;
    font-style: italic;
    font-weight: 500;
    transform: translateY(-33%);
  }
}
