:root {
  --color-light: #ffffff;
  --color-dark: #242424;
  --color-blue: #E0EFF5;
  --color-yellow: #FBF1CC;
  --color-pink: #FEECEB;
  --color-green: #E5F6EC;
  --color-purple: #EDE8F5;
  --color-gray: #E7E6EB;
  --color-light-gray: #F4F1EB;
  --font-size-default: 18px;
  --font-family: 'Martian Mono', monospace;
}
