:root {
  --color-light: #ffffff;
  --color-dark: #242424;
  --color-blue: #E0EFF5;
  --color-yellow: #FBF1CC;
  --color-pink: #FEECEB;
  --color-green: #E5F6EC;
  --color-purple: #EDE8F5;
  --color-gray: #E7E6EB;
  --color-light-gray: #F4F1EB;
  --color-light-peach: #F3D7CE;

  --text-color-gray: #797979;
  --text-color-red: #F46D5C;

  --font-size-default: 18px;
  --font-family: 'Martian Mono', monospace;

  --font-weight-normal: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-default: 2px solid var(--color-dark);
  --shadow-default: -2px 4px 0 var(--color-dark);
}
